/*////////////////////////////////////////////////////////  HOME PAGE  ///////////////////////////////////////////////*/

/*-- Reset --*/
html, body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-family: 'Varela Round', sans-serif;
  font-size: large;
}

/*============= NAVIGATION =============*/

.navbar {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.6));
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
}
.navbar-brand img {
  height: 1.7rem;
  border-radius: 50%;
  margin-right: .5rem;
}
.nav-item {
  padding: 0 10px;
}
.nav-link {
  color: black!important;
  transition: transform .2s;
}
.nav-link:hover {
  transform: scale(1.1);
  color: maroon!important;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(120, 0, 0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: rgba(0, 0, 0, 0.5);
  transform: scale(0.7);
  transition: transform .3s;
}
.custom-toggler.navbar-toggler:hover {
  border-color: rgba(0, 0, 0, 0.5);
  transform: scale(1);
}


/*============= CAROUSEL =============*/

.carousel-inner {
  max-height:32.8rem!important;
}


/*---Change Carousel Transition Speed --*/
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  transition: transform 2s ease;
}
.carousel-indicators li {
  width: 50px;
  height: 5px;
  margin: 0 5px;
}

/*-- Carousel Content --*/
.carousel-caption {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}
.bg-dark {
  background-color: rgba(0, 0, 0, .7)!important;
  border-radius: 1cm;
  padding: 1rem;
}
.bg-white {
  background-color: rgba(255, 255, 255, .7)!important;
  border-radius: 1cm;
  padding: 1rem;
}
.carousel-caption h3 {
  font-size: 2.3rem;
  font-weight: 300;
}
p.lead {
  font-size: 1.4rem;
}

/*============= SOCIAL MEDIA STICKY BAR =============*/

.jumbotron {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.6));
  padding: 1rem 0 .5rem;
  margin-bottom: 0;
  border-radius: 0;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
}
ul.social {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0 auto;
}
ul.social li {
  margin: 0 auto;
}
.jumbotron .svg-inline--fa {
  font-size: 2rem;
  margin: 0 1rem;
}
.jumbotron .svg-inline--fa:hover {
  color: grey!important;
}



/*=======  SLIDERS  =======*/
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}



/*============= COLUMN CONTENT =============*/

.fa-square {
  opacity: .10;
}


/*===== FIXED BACKGROUND IMG =====*/

.fixed-background {
  padding: 12rem 0;
  border-top: .05rem solid black;
  border-bottom: .05rem solid black;
  margin-bottom: 2px;
  height: 100vh; /*-- remove --*/
}
.fixed {
  background-image: url('../img/tree.jpg');
  position: fixed;
}


/*============= FOOTER =============*/

.footer {
  background-color: #383838;
  padding: 0;
}
.footer .container {
  padding: 0!important;
}
.footer img {
  border-radius: 50%;
  height: 3.5rem;
  margin: 1.1rem auto;
}
footer p {
  font-size: 12pt;
  margin: 0 0 .7rem;
}
.footer a, .socket a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  color: grey;
}


/*============= SOCKET =============*/

.socket {
  background-color: #222222;
  border-top: .1rem solid gray;
}


/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
  .carousel-caption h3 {
    font-size: 1.8rem;
  }
  /*  About Us  */
  .about_us_display_4 {
    font-size: 3rem;
  }
}
/* Devices under 992px (xl) */
@media (max-width: 991.98px) {
  p.lead {
    font-size: 1.2rem;
  }
  .carousel-indicators li {
    width: 40px;
    height: 4px;
    margin: 0 4px;
  }

  /*  About Us  */
  .about_us_display_4 {
    font-size: 2.3rem;
  }
}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {
  p.lead {
    font-size: 1.1rem;
  }
  .navbar-brand img {
    height: 1.5rem;
  }
  .navbar {
    font-size: 12pt;
    padding: .4rem .6rem;
  }
  .navbar-toggler {
    transform: scale(.9);
  }
  .jumbotron .svg-inline--fa {
    font-size: 1.6rem;
    margin: 0 .8rem;
  }

  /*  About Us  */
  .about_us_display_4 {
    font-size: 2rem;
  }
}
/* Devices under 576px (sm) */
@media (max-width: 575.98px) {
  .navbar-brand img {
    height: 1.3rem;
  }
  .navbar {
    font-size: 11pt;
    padding: .3rem .6rem;
  }
  .jumbotron .svg-inline--fa {
    font-size: 1.4rem;
    margin: 0 .5rem;
  }
  footer hr {
    margin: .4rem;
  }
  footer p {
    font-size: 10pt;
    margin: 0 0 .7rem;
  }

  /*  About Us  */
  .about_us_display_4 {
    font-size: 1.8rem;
  }
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}


/*//////////////////////////////////////////////////////  ABOUT US PAGE  /////////////////////////////////////////////*/
.about_us_container {
  background-color: lightgrey;
  padding: 0;
}
.about-section {
  background-size: 50%;
  background: #fdfdfd url("../img/tree1.jpg") no-repeat left;
  overflow: hidden;
  padding: 7rem 0;
}
.inner-container {
  width: 55%;
  float: right;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 7rem;
  border-top-left-radius: 7rem;
}
.inner-container h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 900;
}
.text {
  font-size: 14pt;
  color: #545454;
  line-height: 1.7rem;
  text-align: justify;
  margin-bottom: 2rem;
}
.location {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 16pt;
}

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
  .about_us_display_4 {
    font-size: 3rem;
  }
  .inner-container {
    padding: 80px;
  }
}

/* Devices under 992px (xl) */
@media (max-width: 991.98px) {
  .about_us_display_4 {
    font-size: 2.3rem;
  }
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 100%;
    border-bottom-right-radius: 7rem;
  }
}

/* Devices under 768px (md) */
@media (max-width: 767.98px) {
  .about_us_display_4 {
    font-size: 2rem;
  }
}

/* Devices under 576px (sm) */
@media (max-width: 575.98px) {
  .about_us_display_4 {
    font-size: 1.8rem;
  }
  .about-section {
    padding: 0;
  }
  .inner-container {
    padding: 60px;
    border-radius: 0;
  }
}





/*//////////////////////////////////////////////////  CONTACT US PAGE  ///////////////////////////////////////////////*/
section {
  background: #fdfdfd url("../img/grass2.jpg") no-repeat left;
  background-size: cover;
}
.main-contact-section {
  padding: 2rem;
}
.bg-theme {
  background: rgba(17, 45, 66, 0.8)!important;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.card-body {
  padding: 1rem 0.7rem;
  background: rgba(0, 0, 0, 0.7);
}
.card-contact {
  margin-left: -10rem;
  border-radius: 0;
  border: 1rem double;
  padding: 1rem .5rem!important;
}
.card-contact h1 {
  color: white;
  font-size: 24pt;
  position: relative;
  margin-bottom: 40px;
}
.card-contact h5, .card-contact h5 a {
  color: white!important;
  font-size: 12pt;
}
.card-contact h5 a:hover {
  text-decoration: none;
  color: darkgrey!important;
  font-size: 12pt;
}
.icon-part {
  height: 40px;
  width: 40px;
  border: 2px solid white;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  font-size: 17px;
  border-radius: 50%;
}

ul.contact_social {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0 auto;
  height: 5rem;
  line-height: 9rem;
}
ul.contact_social li {
  margin: 0 auto;
}
.contact_social .svg-inline--fa {
  font-size: 1rem;
  margin: 0 1rem;
  color: lightgrey!important;
}
.contact_social .svg-inline--fa:hover {
  color: grey!important;
}

#contact_form input {
  border-top: none;
}

.btn-outline-light {
  width: 5rem;
  border-radius: 20px!important;
}


/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}
/* Devices under 992px (xl) */
@media (max-width: 991.98px) {

}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}
/* Devices under 576px (sm) */
@media (max-width: 575.98px) {
  .main-contact-section {
    padding: 1rem 0!important;
  }
  .main-contact-section .container {
    padding: 1rem 0;
  }
  .card-body {
    padding: 1rem 0!important;
  }
  .card-contact {
    margin: 0 .5rem 1rem;
    border-radius: 1rem;
    border: .3rem solid;
    padding: .4rem!important;
  }
  .card-contact h1 {
    font-size: 20pt;
    margin-bottom: 20px;
  }
  .card-contact h5, .card-contact h5 a {
    font-size: .8rem;
  }
  .icon-part {
    height: 1rem;
    width: 1rem;
    border: none;
    font-size: .7rem;
    margin-right: .3rem!important;
    margin-left: 0!important;
  }
  ul.contact_social {
    height: 4rem;
    line-height: 7rem;
  }
  .contact_social .svg-inline--fa {
    font-size: 1.5rem;
    margin: 0 .7rem;
    color: lightgrey!important;
  }
  #contact_form input::placeholder, textarea::placeholder {
    font-size: .7rem;
  }
  #contact_form input {
    border-top: none;
    height: 2rem;
  }
  #contact_form textarea {
    border-top: none;
    height: 5rem;
  }
  .send {
    float: right!important;
  }
  .btn-outline-light {
    font-size: .9rem;
    padding: 0 .1rem;
    width: 5rem;
    border-radius: .5rem!important;
  }
}